body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 570px;
}

main img {
  margin-bottom: 32px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span, a {
  color: #ff9900;
}

footer {
  margin-top: 32px;
  border-top: 1px #ECEFF2 solid;
  padding-top: 12px;
}

p, footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

footer a + a {
    margin-left: 28px;
}

footer img {
    position: absolute;
    bottom: 0;
    right: 0;
}